{%- comment -%}
  links
  megamenus?
{%- endcomment -%}

<ul class="header-menu-desktop desktop-and-up">
  {%- for link in links -%}
    <li class="desktop-menu-item{% unless megamenus contains link.title %} is-dropdown{% endunless %}">
      {%- if link.links != blank -%}
        <div class="desktop-menu-title with-icon">
          {{ link.title }}
          {% render 'icon-chevron-down' %}
        </div>

        {%- if megamenus contains link.title -%}
          <div class="header-megamenu">
            <ul class="container header-megamenu-list">
              {%- for child in link.links -%}
                <li>
                  <a href="{{ child.url }}" class="child-title link with-icon">
                    {{ child.title }}
                    {% render 'icon-chevron-right' %}
                  </a>

                  {%- if child.links != blank -%}
                    <ul class="child-links">
                      {%- for grandchild in child.links -%}
                        <li>{% render 'with-img', item: grandchild, link: true %}</li>
                      {%- endfor -%}
                    </ul>
                  {%- endif -%}
                </li>
              {%- endfor -%}
            </ul>
          </div>

        {%- else -%}
          <ul class="header-dropdown">
            {%- for child in link.links -%}
              <li><a href="{{ child.url }}" class="link">{{ child.title }}</a></li>
            {%- endfor -%}
          </ul>
        {%- endif -%}

      {%- else -%}
        <a class="desktop-menu-title" href="{{ link.url }}">{{ link.title }}</a>
      {%- endif -%}
    </li>
  {%- endfor -%}

  <li class="desktop-menu-item">
    <div class="desktop-menu-title with-icon">
      Questions?
      {% render 'icon-chevron-down' %}
    </div>

    <div class="header-megamenu">
      <div class="container">
        {% render 'questions-menu' %}
      </div>
    </div>
  </li>
</ul>
