{%- comment -%}
  links
  megamenus?
{%- endcomment -%}

<ul class="header-menu-desktop desktop">
  {%- for link in links -%}
    <li class="header-menu-item">
      {%- if link.links != blank -%}
        <div class="header-menu-title with-icon">
          {{ link.title }}
          {% render 'icon-chevron-down' %}
        </div>

        {%- if megamenus contains link.title -%}
          <div class="header-megamenu">
            <ul class="container header-megamenu-list">
              {%- for child in link.links -%}
                <li>
                  <a href="{{ child.url }}" class="child-title link accent-2 with-icon">
                    {{ child.title }}
                    {% render 'icon-chevron-right' %}
                  </a>

                  {%- if child.links != blank -%}
                    <ul class="child-links">
                      {%- for grandchild in child.links -%}
                        <li>
                          <a href="{{ grandchild.url }}" class="child-item link accent-2">
                            {%- if grandchild.object.featured_image -%}
                              <figure class="child-item-img">
                                <img
                                  {% render 'srcset', image: grandchild.object.featured_image, width: 100 %}
                                  alt="{{ grandchild.title }}" loading="false"
                                />
                              </figure>
                            {%- endif -%}

                            {{ grandchild.title }}
                          </a>
                        </li>
                      {%- endfor -%}
                    </ul>
                  {%- endif -%}
                </li>
              {%- endfor -%}
            </ul>
          </div>

        {%- else -%}
          <ul class="header-dropdown">
            {%- for child in link.links -%}
              <li><a href="{{ child.url }}" class="link accent-2">{{ child.title }}</a></li>
            {%- endfor -%}
          </ul>
        {%- endif -%}

      {%- else -%}
        <a class="header-menu-title" href="{{ link.url }}">{{ link.title }}</a>
      {%- endif -%}
    </li>
  {%- endfor -%}

  <li class="header-menu-item">
    <div class="header-menu-title with-icon">
      Questions?
      {% render 'icon-chevron-down' %}
    </div>

    <div class="header-megamenu">
      {% render 'questions-menu' %}
    </div>
  </li>
</ul>
