{%- comment -%}
  line_item
  index
{%- endcomment -%}

<tr class="line-item">
  <td>
    <a href="{{ line_item.url }}" class="line-item-link link">
      <figure class="line-item-img">
        <img
          {% render 'srcset', image: line_item.product.featured_image, width: 120 %}
          alt="{{ line_item.product.title }}" loading="lazy"
        />
      </figure>

      <div>
        <div>{{ line_item.product.title }}</div>
        {%- unless line_item.product.has_only_default_variant -%}
          <div>{{ line_item.variant.title }}</div>
        {%- endunless -%}
      </div>
    </a>
  </td>

  <td>
    <small class="text-dark tablet">Price:</small>
    <span>
      {%- if line_item.original_price > line_item.final_price -%}
        <s class="compare-at-price">{{ line_item.original_price | money }}</s><br>
      {%- endif -%}
      {{ line_item.final_price | money }}
    </span>
  </td>

  <td>
    {% render 'quantity-selector'
      id: index
      name: "updates[]"
      value: line_item.quantity
    %}
    <a href="{{ line_item.url_to_remove }}" class="link-underline">Remove</a>
  </td>

  <td>
    <small class="text-dark tablet">Total:</small>
    <span>
      {%- if line_item.original_line_price > line_item.final_line_price -%}
        <s class="compare-at-price">{{ line_item.original_line_price | money }}</s><br>
      {%- else -%}
        {{ line_item.final_line_price | money }}
      {%- endif -%}
    </span>
  </td>
</tr>
