{%- comment -%}
  product
  small?
{%- endcomment -%}

{%- liquid
  if small
    assign image_width = 200
  else
    assign image_width = 400
  endif
-%}

<article class="product-item{% if small %} small{% endif %} richtext">
  <a href="{{ product.selected_or_first_available_variant.url }}" class="product-item-img link richtext">
    <img
      {% render 'srcset', image: product.featured_image, width: image_width %}
      alt="{{ product.featured_image.alt | default: product.title | escape }}"
      loading="lazy"
    />
    <p class="product-item-title h5">{{ product.title }}</p>
  </a>

  <div class="price-rating font-heading">
    <p class="price">
      {%- if product.compare_at_price > product.price -%}
        <s class="compare-at-price"><small>{{ product.compare_at_price | money }}</small></s>
      {%- endif %}
      {{ product.price | money }}
    </p>

    <div
      class="stamped-product-reviews-badge"
      data-id="{{ product.id }}"
      data-product-sku="{{ product.handle }}"
      data-product-type="{{ product.type }}"
      data-product-title="{{ product.title }}">
      {{ product.metafields.stamped.badge }}
    </div>
  </div>

  {%- unless product.has_only_default_variant -%}
    {%- assign colors = product.options_with_values | where: 'name', 'Color' | map: 'values' | first -%}
    <div>
      {%- for color in colors -%}
        {%- liquid
          for variant in product.variants
            if variant.title contains color
              assign variant = variant
              assign swatch = variant.metafields.swatch
            endif
          endfor
        -%}
        <a
          href="{{ variant.url }}" class="color-swatch small"
          title="{{ color }}" data-sku="{{ variant.sku }}"
          {% render 'swatch-style', swatch: swatch %}
        ></a>
      {%- endfor -%}
    </div>
  {%- endunless -%}
</article>
