{%- assign available = product.selected_or_first_available_variant.available -%}

{% form 'product', product, class: 'richtext' %}
  {%- unless product.has_only_default_variant -%}
    {%- for option in product.options_with_values -%}
      <fieldset>
        <legend>{{ option.name }}</legend>

        {%- for value in option.values -%}
          <input
            id="{{ option.name }}-{{ forloop.index }}"
            name="{{ option.name | handleize }}"
            value="{{ value | escape }}"
            type="radio"
            {% if option.selected_value == value %}checked{% endif %}
          />
          <label for="{{ option.name }}-{{ forloop.index }}">
            {{ value }}
          </label>
        {%- endfor -%}
      </fieldset>
    {%- endfor -%}

    <select name="id" class="input" hidden>
      {%- for variant in product.variants -%}
        <option
          value="{{ variant.id }}"
          {% if variant == product.selected_or_first_available_variant -%}selected{%- endif %}
          {% unless variant.available %}disabled{% endunless %}
        >
          {{ variant.title }} ({{ variant.price | money }})
        </option>
      {%- endfor -%}
    </select>

  {%- else -%}
    <input name="id" value="{{ product.selected_or_first_available_variant.id }}" type="hidden" />
  {%- endunless -%}

  <div class="qty-and-price">
    {% render 'quantity-selector', label: 'Quantity:', name: 'quantity' %}

    <div class="h3 text-right">
      {%- if product.compare_at_price > product.price -%}
        <s><small>{{ product.compare_at_price | money }}</small></s>
      {%- endif %}
      {{ product.price | money }}
    </div>
  </div>

  <div>
    {%- if available -%}
      <button class="action full">Add to cart</button>
    {%- else -%}
      <button class="action full" disabled>Sold out</button>
    {%- endif -%}

    {%- if section.settings.show_dynamic_checkout -%}
      {{ form | payment_button }}
    {%- endif -%}
  </div>
{% endform %}
