{%- comment -%}
  product
  small?
{%- endcomment -%}

{%- liquid
  if small
    assign image_width = 200
  else
    assign image_width = 400
  endif
-%}

<article class="product-item{% if small %} small{% endif %} richtext">
  <a href="{{ product.url }}" class="product-item-img link richtext">
    <img
      {% render 'srcset', image: product.featured_image, width: image_width %}
      alt="{{ product.featured_image.alt | default: product.title | escape }}"
      loading="lazy"
    />
    <p class="product-item-title h5">{{ product.title }}</p>
  </a>

  <div class="product-item-price-rating">
    <p>
      {%- if product.compare_at_price > product.price -%}
        <s><small>{{ product.compare_at_price | money }}</small></s>
      {%- endif %}
      {{ product.price | money }}
    </p>
    <!-- TODO: add rating -->
    <p>★</p>
  </div>

  {%- unless product.has_only_default_variant -%}
    {%- assign colors = product.options_with_values | where: 'name', 'Color' | map: 'values' | first -%}
    <div>
      {%- for color in colors -%}
        {%- liquid
          for variant in product.variants
            if variant.title contains color
              assign url = variant.url
            endif
          endfor
        -%}
        <a href="{{ url }}" class="color-swatch small" title="{{ color }}"></a>
      {%- endfor -%}
    </div>
  {%- endunless -%}
</article>
