{%- assign available = product.selected_or_first_available_variant.available -%}

{% form 'product', product, class: 'richtext' %}
  {%- unless product.has_only_default_variant -%}
    {%- liquid
      for option in product.options_with_values
        case option.name
          when 'Size'
            render 'variant-selector.size', option: option
          when 'Color'
            render 'variant-selector.color', option: option
          else
            render 'variant-selector', option: option
        endcase
      endfor
    -%}

    <select name="id" class="input" hidden>
      {%- for variant in product.variants -%}
        <option
          value="{{ variant.id }}"
          data-selected-price="{{ variant.price }}"
          data-selected-compare-at-price="{{ variant.compare_at_price }}"
          {% if variant == product.selected_or_first_available_variant -%}selected{%- endif %}
          {% unless variant.available %}disabled{% endunless %}
        >
          {{ variant.title }} ({{ variant.price | money }})
        </option>
      {%- endfor -%}
    </select>

  {%- else -%}
    <input name="id" value="{{ product.selected_or_first_available_variant.id }}" type="hidden" />
  {%- endunless -%}

  <div class="qty-and-price">
    {% render 'quantity-selector', label: 'Quantity:', name: 'quantity' %}

    <div class="h3 text-right">
      {%- if product.compare_at_price > product.price -%}
        <s class="compare-at-price"><small data-compare-at-price>{{ product.compare_at_price | money }}</small></s>
      {%- endif %}
      <span data-price>{{ product.price | money }}</span>
    </div>
  </div>

  <div>
    {%- if available -%}
      <button class="action full">Add to cart</button>
    {%- else -%}
      <button class="action full" disabled>Sold out</button>
    {%- endif -%}

    {%- if section.settings.show_dynamic_checkout -%}
      {{ form | payment_button }}
    {%- endif -%}
  </div>
{% endform %}
