{%- comment -%}
  option
{%- endcomment -%}

<fieldset class="variant-selector variant-selector-size">
  <legend class="font-heading">
    <small class="">
      {{ option.name }}
      <b data-option-preview="{{ option.name | handleize }}">{{ option.selected_value }}</b>
    </small>
    <a href="#product-tabs" class="link accent-1">Details ></a>
  </legend>

  {%- for value in option.values -%}
    <input
      id="{{ option.name }}-{{ forloop.index }}"
      name="{{ option.name | handleize }}"
      value="{{ value | escape }}"
      type="radio"
      {% if option.selected_value == value %}checked{% endif %}
      hidden
    />

    {%- liquid
      assign size_name = value | split: '(' | first | strip
      assign size_dimension = value | split: '(' | last | replace: ')' | strip
    -%}
    <label class="variant-swatch" for="{{ option.name }}-{{ forloop.index }}">
      {{ size_name }}
      {%- if size_dimension != blank and size_dimension != size_name -%}
        <small>{{ size_dimension }}</small>
      {%- endif -%}
    </label>
  {%- endfor -%}
</fieldset>
