{%- comment -%}
  option
{%- endcomment -%}

<fieldset class="variant-selector-size paragraph-sm">
  <legend>
    <small class="font-heading">
      {{ option.name }}
      <b data-option-preview="{{ option.name | handleize }}">{{ option.selected_value }}</b>
    </small>
    <a href="#product-tabs" class="font-body link accent-1">Details ></a>
  </legend>

  {%- for value in option.values -%}
    <input
      id="{{ option.name }}-{{ forloop.index }}"
      name="{{ option.name | handleize }}"
      value="{{ value | escape }}"
      type="radio"
      {% if option.selected_value == value %}checked{% endif %}
      hidden
    />
    <label class="size-swatch" for="{{ option.name }}-{{ forloop.index }}">
      {{ value }}
    </label>
  {%- endfor -%}
</fieldset>
