{%- comment -%}
  option
{%- endcomment -%}

<fieldset class="variant-selector variant-selector-size">
  <legend class="font-heading">
    <small>
      {{ option.name }}:
      <b data-option-preview="{{ option.name | handleize }}">{{ option.selected_value }}</b>
    </small>
    <a href="#product-tabs" class="link-to-sizes link accent-1" hidden>
      <small>Details ></small>
    </a>
  </legend>

  {%- for value in option.values -%}
    <input
      id="{{ option.name }}-{{ forloop.index }}"
      name="{{ option.name | handleize }}"
      value="{{ value | escape }}"
      type="radio"
      {% if option.selected_value == value %}checked{% endif %}
      hidden
    />

    {%- liquid
      assign size_name = value | split: '(' | first | strip
      assign size_dimension = value | split: '(' | last | replace: ')' | strip
    -%}
    <label class="variant-swatch" for="{{ option.name }}-{{ forloop.index }}">
      {{ size_name }}
    </label>
  {%- endfor -%}
</fieldset>
