{%- comment -%}
  item
  link?
  placeholder?
  back?
{%- endcomment -%}

{%- capture back_icon -%}
  <span class="back-icon">{% render 'icon-chevron-right' %}</span>
{%- endcapture -%}

{%- capture content -%}
  {%- if item.object.featured_image and no_image != true -%}
    <figure>
      <img
        {% render 'srcset', image: item.object.featured_image, width: 100 %}
        alt="{{ item.title }}" loading="lazy"
      />
      {%- if back -%}{{ back_icon }}{%- endif -%}
    </figure>

  {%- elsif placeholder -%}
    <figure>
      {%- if back -%}{{ back_icon }}{%- endif -%}
    </figure>
  {%- endif -%}

  {{ item.title }}
{%- endcapture -%}

{%- if link -%}
  {%- liquid
    case item.title
      when 'Competitor Comparisons'
        assign item_url = item.url | append: '#competition'
      when 'How to Install'
        assign item_url = item.url | append: '#installation'
      when 'Tips & Tricks'
        assign item_url = item.url | append: '#tips-tricks'
    endcase
  -%}
  <a href="{{ item_url | default: item.url }}" class="link with-img">{{ content }}</a>
{%- else -%}
  <div class="with-img">{{ content }}</div>
{%- endif -%}
