<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>
    {%- if page_title != shop.name -%}
      {{- page_title }} | {{ shop.name -}}
    {%- else -%}
      {{- shop.name -}}
    {%- endif -%}
  </title>

  <meta name="description" content="{{ page_description | escape }}">
  {%- render 'meta-tags' -%}

  <link rel="canonical" href="{{ canonical_url }}">
  <link rel="icon" href="{{ settings.favicon | img_url: '32x32' }}">

  <link rel="preload" href="{{ 'Pockota-Regular.woff2' | asset_url }}" type="font/woff2" as="font" crossorigin>

  {%- render 'root.css' %}
  {{ 'reset.css' | asset_url | stylesheet_tag }}
  {{ 'theme.css' | asset_url | stylesheet_tag }}

  {% render 'header-scripts.zipifypages', renderctx: 'thm' %}{{ content_for_header }}

  {% render 'magiczoomplus.headers' %}

  <script async defer src="https://tools.luckyorange.com/core/lo.js?site-id=4d8cdf5c"></script>

  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-WJS56PT');</script>
  <!-- End Google Tag Manager -->

  <!-- START Growth Affiliate in theme.liquid -->
  <script src="https://www.dwin1.com/19038.js" type="text/javascript" defer="defer"></script>
  <!-- END Growth Affiliate in theme.liquid -->

  <script src="//staticxx.s3.amazonaws.com/aio_stats_lib_v1.min.js?v=1.0" defer></script>

  {% render 'minmaxify-head' %}
</head>

<body>
  {% section 'announcement' %}
  {% section 'header' %}

  {%- if request.page_type != 'index' -%}
    {% render 'breadcrumbs' %}
  {%- endif -%}

  <main {% if request.page_type == 'captcha' %}class="padding-lg"{% endif %}>
    {{ content_for_layout }}
  </main>

  {% section 'newsletter' %}
  {% section 'footer' %}

  {% render 'schema' %}

  <script src="{{ 'theme.min.js' | asset_url }}" defer></script>
  {%- if settings.predictive_search_enabled -%}
    {% render 'predictive-search' %}
  {%- endif -%}

  <script src="//cdn.codeblackbelt.com/js/modules/frequently-bought-together/main.min.js?shop=4knines.myshopify.com" defer></script>

  {%- if request.page_type == 'collection' or request.page_type == 'product' -%}
    <script async type="text/javascript" data-api-key="" id="stamped-script-widget" src="https://cdn-stamped-io.azureedge.net/files/widget.min.js"></script>
  {%- endif -%}

  {% render 'oneclickupsellapp-theme', oneclickupsellapp: oneclickupsellapp %}
  {% assign oneclickupsellapp = true %}

  {% render 'page-footer.zipifypages', renderctx: 'thm', ocuapp: ocuapp %}
  {% render 'subscribe-it-helper' %}

  <!--Gorgias Chat Widget Start-->
  <script id="gorgias-chat-widget-install-v2" src="https://config.gorgias.chat/gorgias-chat-bundle-loader.js?applicationId=2562"></script>
  <script id="gorgias-chat-shopify-install">!function(_){_.SHOPIFY_PERMANENT_DOMAIN="{{shop.permanent_domain}}",_.SHOPIFY_CUSTOMER_ID="{{customer.id}}",_.SHOPIFY_CUSTOMER_EMAIL="{{customer.email}}"}(window||{});</script>
  <!--Gorgias Chat Widget End-->
</body>

</html>
