<div class="container side-padding">
  {% render 'questions-menu' %}

  {%- if section.settings.navigation.links != blank -%}
    <ul class="footer-links">
      {%- for link in section.settings.navigation.links -%}
        <li>
          <div class="footer-links-title">
            <a href="{{ link.url }}" class="link accent-2">
              {{ link.title }}
              <span class="mobile">{% render 'icon-chevron-right' %}</span>
            </a>
          </div>

          {%- if link.links != blank -%}
            <ul class="tablet-and-up">
              {%- for child in link.links -%}
                <li class="footer-links-child">
                  {%- if child.title == 'Vehicle Fit Guide' -%}<br>{%- endif -%}
                  <a href="{{ child.url }}" class="link accent-2">{{ child.title }}</a>
                </li>
              {%- endfor -%}
            </ul>
          {%- endif -%}
        </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}

  <div class="section-padding text-accent-2">
    <p>&copy; 2021 {{ shop.name }}</p>
  </div>
</div>

{% schema %}
{
  "name": "Footer",
  "tag": "footer",
  "settings": [
    {
      "type": "link_list",
      "id": "navigation",
      "label": "Navigation",
      "default": "footer"
    }
  ]
}
{% endschema %}
