<div class="header container">
  <a href="{{ routes.root_url }}" class="header-logo">
    {%- if settings.logo -%}
      <img {% render 'srcset', image: settings.logo, width: 300 %} alt="{{ settings.logo.alt | default: shop.name }}">
    {%- else -%}
      {{- shop.name -}}
    {%- endif -%}
  </a>

  <div class="header-search">
   {% render 'search-form' %}
  </div>

  <div class="header-actions">
    <a href="tel:{{ shop.phone }}" class="link">
      {% render 'icon-tel' %}
    </a>

    {%- if shop.customer_accounts_enabled -%}
      <a href="{% if customer %}{{ routes.account_url }}{% else %}{{ routes.account_login_url }}{% endif %}" class="link">
        {% render 'icon-account' %}
      </a>
    {%- endif -%}

    <a href="{{ routes.cart_url }}" class="header-cart link{% if cart.item_count %} has-items{% endif %}">
      {% render 'icon-cart' %}
    </a>
  </div>

  <label for="header-menu-state" class="header-trigger tablet">
    {% render 'icon-menu' %}
  </label>

  <input id="header-menu-state" type="checkbox" hidden />
  <div class="header-menu">
    {%- assign megamenus = section.blocks | where: 'type', 'megamenu' | map: 'settings' | map: 'title' -%}
    {% render 'header-menu-desktop',
      links: section.settings.menu_desktop.links
      megamenus: megamenus
    %}

    {% render 'header-menu-tablet' %}
  </div>
</div>

{%- if section.settings.sticky -%}
  <style>
    #shopify-section-header { position: sticky; top: 0; }
  </style>
{%- endif -%}

{% schema %}
{
  "name": "Header",
  "tag": "header",
  "settings": [
    {
      "type": "checkbox",
      "id": "sticky",
      "label": "Sticky",
      "default": true
    },
    {
      "type": "link_list",
      "id": "menu_desktop",
      "label": "Menu (desktop)"
    },
    {
      "type": "link_list",
      "id": "menu_mobile",
      "label": "Menu (mobile)"
    }
  ],
  "blocks": [
    {
      "name": "Megamenu",
      "type": "megamenu",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Link title",
          "info": "Exact title of the link to make a megamenu"
        }
      ]
    }
  ]
}
{% endschema %}
