{%- assign promo = section.blocks | where: 'type', 'promo' | map: 'settings' | first -%}

<div class="section-hero padding-lg {% if promo.enabled %}promo-enabled{% endif %}">
  {%- if section.settings.image_desktop -%}
    <picture class="section-hero-img">
      {%- if section.settings.image_mobile -%}
        <source
          {% render 'srcset', image: section.settings.image_mobile, width: 800 %}
          media="(max-width: 768px)"
        />
      {%- endif -%}
      <img
        {% render 'srcset', image: section.settings.image_desktop, width: 1600 %}
        alt="{{ section.settings.image_desktop.alt | default: section.settings.heading }}"
        loading="eager" draggable="false"
      />
    </picture>
  {%- endif -%}

  <div class="section-hero-txt container richtext">
    <h1 class="h2 text-accent-2">{{ section.settings.heading | newline_to_br }}</h1>
    {%- if section.settings.description -%}
      <p>{{ section.settings.description | newline_to_br }}</p>
    {%- endif -%}
    {%- if section.settings.cta_link -%}
      <p>
        <a href="{{ section.settings.cta_link }}" class="action">
          {%- if section.settings.cta_label != blank -%}
            {{ section.settings.cta_label }}
          {%- else -%}
            Shop {{ section.settings.cta_link.object.title }}
          {%- endif -%}
        </a>
      </p>
    {%- endif -%}
  </div>
</div>

{%- if promo.enabled -%}
  <article
    class="section-promo padding-lg bg"
    style="--bg-img: url('{{ 'wave-right-top-bottom-lg.png' | asset_url }}');"
  >
    <div class="container-half text-center richtext">
      <h2 class="h2 text-accent-2">{{ promo.heading }}</h2>
      {%- if promo.description -%}
        <p class="h4-body">{{ promo.description | newline_to_br }}</p>
      {%- endif -%}
      {%- if promo.cta_link -%}
        <div>
          <a href="{{ promo.cta_link }}" class="action">
            {%- if promo.cta_label != blank -%}
              {{ promo.cta_label }}
            {%- else -%}
              Shop {{ promo.cta_link.object.title }}
            {%- endif -%}
          </a>
        </div>
      {%- endif -%}
    </div>
  </article>
{%- endif -%}

{% stylesheet %}
  .section-hero {
    position: relative;
    background: var(--bg-img) center/cover no-repeat;
  }

  .section-hero-img {
    position: absolute;
    left: 0; top: 0;
    width: 100%;
    height: 100%;
  }

  .section-hero-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .section-hero-txt { position: relative; }

  .section-promo,
  .section-promo > * {
    position: relative;
  }

  .section-promo::before {
    content: '';
    position: absolute;
    left: 0; top: 0;
    width: 100%;
    height: 100%;
    background: var(--bg-img) right/contain no-repeat;
  }

  /* tablet */
  @media screen and (max-width: 768px) {
    .section-hero { padding-block: 2rem; }

    .section-hero.promo-enabled { padding-bottom: 6rem; }

    .section-hero-txt {
      padding: 2rem 1rem;
      background-color: hsla(0, 0%, 100%, 0.8);
      text-align: center;
    }

    .section-hero-txt br { display: none; }

    .section-promo {
      position: relative;
      z-index: 1;
      margin: -4rem 2rem 0;
      padding-block: 2rem;
      overflow: hidden;
    }

    .section-promo::before {
      transform: scale(-1.75, 1.75) translateX(-20%);
      opacity: 0.4;
    }

    .section-promo h2 {
      font-size: var(--h3);
    }
    .section-promo p { font-size: var(--h5); }
  }
{% endstylesheet %}

{% schema %}
{
  "name": "Hero + Promo",
  "tag": "section",
  "settings": [
    {
      "type": "textarea",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "url",
      "id": "cta_link",
      "label": "CTA link"
    },
    {
      "type": "text",
      "id": "cta_label",
      "label": "CTA label",
      "info": "Default: \"Shop <title>\""
    },
    {
      "type": "image_picker",
      "id": "image_desktop",
      "label": "Background image (desktop)"
    },
    {
      "type": "image_picker",
      "id": "image_mobile",
      "label": "Background image (mobile)",
      "info": "Only use if a different image is needed"
    }
  ],
  "blocks": [
    {
      "type": "promo",
      "name": "Promo",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "enabled",
          "label": "Enabled",
          "default": true
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type": "textarea",
          "id": "description",
          "label": "Description"
        },
        {
          "type": "url",
          "id": "cta_link",
          "label": "CTA link"
        },
        {
          "type": "text",
          "id": "cta_label",
          "label": "CTA label",
          "info": "Default: \"Shop <title>\""
        }
      ]
    }
  ]
}
{% endschema %}
