{%- liquid
  assign scheduled_list = section.blocks | where: 'type', 'scheduled' | map: 'settings'
  for scheduled in scheduled_list
    if scheduled.summer_time
      assign add_time = 3600
    else
      assign add_time = 0
    endif

    assign today_date = 'now' | replace: '-0500', '-0800' | date: '%s' | plus: add_time
    assign start_date = scheduled.start_datetime | append: ' -0800' | date: '%s' | times: 1
    assign end_date = scheduled.end_datetime | append: ' -0800' | date: '%s' | times: 1

    if today_date >= start_date and today_date <= end_date
      assign show_scheduled = true
      assign active_scheduled = scheduled
    endif
  endfor

  if show_scheduled and active_scheduled != blank
    assign data = active_scheduled
  else
    assign data = section.settings
  endif
-%}

{%- if data.image_desktop -%}
  <picture class="section-hero-img">
    {%- if data.image_large != blank -%}
      <source
        {% render 'srcset', image: data.image_large, width: 2400 %}
        media="(min-width: 1400px)"
      />
    {%- endif -%}
    {%- if data.image_mobile != blank -%}
      <source
        {% render 'srcset', image: data.image_mobile, width: 1200 %}
        media="(max-width: 768px)"
      />
    {%- endif -%}
    <img
      {% render 'srcset', image: data.image_desktop, width: 1600 %}
      alt="{{ data.image_desktop.alt | default: data.heading }}"
      loading="eager" draggable="false"
    />
  </picture>
{%- endif -%}

<div class="container">
  <div
    class="section-hero-txt text-center"
    style="margin-{{ data.align }}: 0; max-width: {{ data.width | default: 550 }}px;"
  >
    {%- if data.pretitle -%}
      <p class="h4 uppercase">{{ data.pretitle }}</p>
    {%- endif -%}

    <h1 class="hero-title h2-body">{{ data.heading | newline_to_br }}</h1>

    {%- if data.description -%}
      <div class="hero-description font-heading">{{ data.description }}</div>
    {%- endif -%}

    {%- if data.sub_description -%}
      <p class="hero-sub-description">{{ data.sub_description }}</p>
    {%- endif -%}

    {%- if data.cta_link -%}
      <p>
        <a href="{{ data.cta_link }}" class="action">
          {%- if data.cta_label != blank -%}
            {{ data.cta_label }}
          {%- else -%}
            Shop {{ data.cta_link.object.title }}
          {%- endif -%}
        </a>
      </p>
    {%- endif -%}
  </div>
</div>

<style>
  .section-main-hero {
    position: relative;
    background: var(--bg-img) center/cover no-repeat;
  }

  .section-hero-img {
    position: absolute;
    left: 0; top: 0;
    width: 100%;
    height: 100%;
  }

  .section-hero-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .section-hero-txt {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: #fff;
    margin: 0 auto;
    text-shadow: 0 0 2em hsla(0, 0%, 0%, 0.5);
  }

  .hero-description strong { text-decoration: underline; }

  /* large */
  @media screen and (min-width: 1400px) {
    .section-hero { padding: 6rem var(--padding-x); }
  }

  /* tablet */
  @media screen and (max-width: 768px) {
    .section-main-hero {
      padding-top: 2rem;
      padding-bottom: 2rem;
    }

    .section-hero-txt br { display: none; }

    .section-hero-txt > * { order: 0; }

    .hero-title { margin-bottom: 8rem; }

    .hero-sub-description { order: 1; }
  }
</style>

{% schema %}
{
  "name": "Main hero",
  "tag": "section",
  "class": "section-main-hero padding-lg",
  "settings": [
    {
      "type": "select",
      "id": "align",
      "label": "Align",
      "default": "right",
      "options": [
        { "value": "left", "label": "left" },
        { "value": "right", "label": "right" }
      ]
    },
    {
      "type": "number",
      "id": "width",
      "label": "Text container width",
      "default": 550
    },
    {
      "type": "text",
      "id": "pretitle",
      "label": "Pretitle"
    },
    {
      "type": "textarea",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "text",
      "id": "sub_description",
      "label": "Sub description"
    },
    {
      "type": "url",
      "id": "cta_link",
      "label": "CTA link"
    },
    {
      "type": "text",
      "id": "cta_label",
      "label": "CTA label",
      "info": "Default: \"Shop <title>\""
    },
    {
      "type": "image_picker",
      "id": "image_desktop",
      "label": "Background image (desktop)"
    },
    {
      "type": "image_picker",
      "id": "image_large",
      "label": "Background image (large)",
      "info": "Displayed at >1400px"
    },
    {
      "type": "image_picker",
      "id": "image_mobile",
      "label": "Background image (mobile)",
      "info": "Only use if a different image is needed"
    }
  ],
  "blocks": [
    {
      "type": "scheduled",
      "name": "Scheduled",
      "settings": [
        {
          "type": "checkbox",
          "id": "summer_time",
          "label": "Summer time",
          "default": false,
          "info": "Daylight savings"
        },
        {
          "type": "text",
          "id": "start_datetime",
          "label": "Start datetime",
          "info": "Format Example: 2021-01-31 18:00:00"
        },
        {
          "type": "text",
          "id": "end_datetime",
          "label": "End datetime",
          "info": "Format Example: 2021-01-31 23:59:59"
        },
        {
          "type": "select",
          "id": "align",
          "label": "Align",
          "options": [
            { "value": "left", "label": "left" },
            { "value": "right", "label": "right" }
          ]
        },
        {
          "type": "number",
          "id": "width",
          "label": "Text container width",
          "default": 550
        },
        {
          "type": "text",
          "id": "pretitle",
          "label": "Pretitle"
        },
        {
          "type": "textarea",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Description"
        },
        {
          "type": "text",
          "id": "sub_description",
          "label": "Sub description"
        },
        {
          "type": "url",
          "id": "cta_link",
          "label": "CTA link"
        },
        {
          "type": "text",
          "id": "cta_label",
          "label": "CTA label",
          "info": "Default: \"Shop <title>\""
        },
        {
          "type": "image_picker",
          "id": "image_desktop",
          "label": "Background image (desktop)"
        },
        {
          "type": "image_picker",
          "id": "image_large",
          "label": "Background image (large)",
          "info": "Displayed at >1400px"
        },
        {
          "type": "image_picker",
          "id": "image_mobile",
          "label": "Background image (mobile)",
          "info": "Displayed at <768px"
        }
      ]
    }
  ]
}
{% endschema %}
