{%- liquid
  assign video_blocks = section.blocks | where: 'type', 'video' | map: 'settings'
  for block in video_blocks
    if block.video_html != blank
      assign has_video_html = true
    endif
  endfor

  if product.metafields.pdp.features_video_code == blank and product.metafields.pdp.installation_video_code == blank and has_video_html != true
    assign no_video_code = true
  endif
-%}

{%- unless no_video_code -%}
  <div id="product-tabs" class="section-pdp-tabs padding-lg container">
    <div class="pdp-tabs-list desktop-and-up">
      {%- for block in section.blocks -%}
        <label for="pdp-tab-{{ forloop.index }}" class="pdp-tab-item h4{% if forloop.first %} is-active{% endif %}">
          {{ block.settings.tab_label }}
        </label>
      {%- endfor -%}
    </div>

    {%- for block in section.blocks -%}
      <div class="pdp-tab-group">
        <input name="pdp-tabs" id="pdp-tab-{{ forloop.index }}" type="radio" hidden{% if forloop.first %} checked{% endif %}>
        <label for="pdp-tab-{{ forloop.index }}" class="pdp-tab-item h4 tablet">{{ block.settings.tab_label }}</label>

        {%- case block.type -%}
          {%- when 'video' -%}
            {% render 'product-details-tabs.video', block: block %}

          {%- when 'dimensions' -%}
            {% render 'product-details-tabs.dimensions', block: block %}

          {%- when 'text' -%}
            <div class="pdp-tab-content padding richtext text-center">
              <h3 class="h3 text-accent-2">{{ block.settings.heading }}</h3>
              {%- if block.settings.cta_link -%}
                <p><a href="{{ block.settings.cta_link }}" class="link accent-1">{{ block.settings.cta_label }} ></a></p>
              {%- endif -%}
              {%- if block.settings.image -%}
                <figure>
                  <img
                    {% render 'srcset', image: block.settings.image, width: 1000 %}
                    alt="{{ block.settings.image.alt }}" loading="lazy"
                  />
                </figure>
              {%- endif -%}
              {{ block.settings.description }}
            </div>

        {%- endcase -%}
      </div>
    {%- endfor -%}
  </div>
{%- endunless -%}

{% stylesheet %}
  .pdp-tabs-list {
    display: flex;
    gap: 2rem;
    max-width: -webkit-max-content;
    max-width: max-content;
    margin-left: auto;
    margin-right: auto;
  }

  .pdp-tab-item {
    cursor: pointer;
    color: var(--accent-2);
  }

  .pdp-tab-item.tablet {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 0.5ch;
    align-items: center;
    padding: 1rem var(--padding-x);
    color: var(--accent-2);
  }

  .pdp-tab-item.tablet::after {
    content: '+';
    color: var(--accent-1);
  }

  .pdp-tab-group:not(:first-of-type) .pdp-tab-item.tablet {
    border-top: 1px solid #fff;
  }

  .pdp-tab-content {
    animation: pdp-tab-content var(--t) forwards;
  }

  @keyframes pdp-tab-content {
    from {
      opacity: 0;
      transform: var(--pdp-tab-content-anim, translateX(-1rem));
    }
  }

  .pdp-tab-content a {
    color: var(--accent-1);
    text-decoration: none;
  }
  .pdp-tab-content a:hover { text-decoration: underline; }

  input[name="pdp-tabs"]:not(:checked) ~ .pdp-tab-content { display: none; }

  /* tablet-and-up */
  @media screen and (min-width: 429px) {
    .pdp-tab-item {
      padding: var(--button-padding);
      border: 2px solid transparent;
      border-radius: 4em;
    }

    .pdp-tab-item:hover {
      border-color: var(--accent-2);
    }

    .pdp-tab-item.is-active {
      border-color: var(--accent-2);
      background-color: var(--accent-2);
      color: #fff;
    }
  }

  /* tablet */
  @media screen and (max-width: 768px) {
    .section-pdp-tabs { padding: 0; }

    .pdp-tab-content {
      --pdp-tab-content-anim: translateY(-1rem);
    }
  }
{% endstylesheet %}

{% schema %}
{
  "name": "Product details tabs",
  "tag": "section",
  "class": "bg-light",
  "blocks": [
    {
      "type": "dimensions",
      "name": "Dimensions",
      "settings": [
        {
          "type": "text",
          "id": "tab_label",
          "label": "Tab label"
        },
        {
          "type": "image_picker",
          "id": "diagram_1",
          "label": "Diagram 1",
          "info": "Alt text will appear below the image."
        },
        {
          "type": "image_picker",
          "id": "diagram_2",
          "label": "Diagram 2",
          "info": "Alt text will appear below the image."
        },
        {
          "type": "image_picker",
          "id": "diagram_3",
          "label": "Diagram 3",
          "info": "Alt text will appear below the image."
        }
      ]
    },
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "text",
          "id": "tab_label",
          "label": "Tab label"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type": "text",
          "id": "cta_label",
          "label": "CTA label",
          "default": "Watch the Cargo Liner Fit Guide"
        },
        {
          "type": "url",
          "id": "cta_link",
          "label": "CTA link"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Description"
        }
      ]
    },
    {
      "type": "video",
      "name": "Video",
      "settings": [
        {
          "type": "text",
          "id": "tab_label",
          "label": "Tab label"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Description"
        },
        {
          "type": "html",
          "id": "video_html",
          "label": "Video HTML",
          "info": "Paste Wistia embed code"
        },
        {
          "type": "select",
          "id": "metafield",
          "label": "Metafield",
          "info": "product.metafields.pdp.<metafield>",
          "options": [
            {
              "value": "",
              "label": "None (use Video HTML)"
            },
            {
              "value": "features_video_code",
              "label": "features_video_code"
            },
            {
              "value": "installation_video_code",
              "label": "installation_video_code"
            }
          ],
          "default": ""
        }
      ]
    }
  ]
}
{% endschema %}
