{%- assign icon_and_text = section.blocks | where: 'type', 'icon-and-text' | map: 'settings' -%}

{% render 'product-images' %}

<div class="section-product-txt">
  <div class="sticky">
    <h1 class="h2 text-accent-2">{{ product.title }}</h1>

    <div
      class="stamped-product-reviews-badge stamped-main-badge"
      data-id="{{ product.id }}"
      data-product-sku="{{ product.handle }}"
      data-product-title="{{ product.title }}"
      data-product-type="{{ product.type }}">
      {{ product.metafields.stamped.badge }}
    </div>

    {%- if icon_and_text.size > 0 -%}
      {% render 'product-icon-text', descriptions: icon_and_text %}
    {%- endif -%}

    {% render 'product-form' %}

    <ul class="product-mini-features unstyled">
      <li class="with-icon">{% render 'icon-free' %} Free Shipping</li>
      <li class="with-icon">{% render 'icon-warranty' %} Lifetime Warranty</li>
      <li class="with-icon">{% render 'icon-30' %} 30 Day Returns</li>
    </ul>

    <div class="product-description richtext" style="font-size: 0.9em;">
      {{ product.description }}
    </div>
  </div>
</div>

{% render 'product-recommendations' %}

<script src="{{ 'product.min.js' | asset_url }}" defer></script>
<script src="https://fast.wistia.com/assets/external/E-v1.js" async></script>

{% stylesheet %}
  .section-product { gap: 2rem; }

  .section-product-txt > div > * + * { margin-top: 2rem; }

  .section-product .stamped-badge {
    display: flex;
    align-items: center;
  }

  .section-product .stamped-badge-caption { margin-left: 1ch; }

  .product-icon-text li:not(.product-icon-txt)::before {
    content: '';
  }

  .product-icon-text li {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1rem;
    align-items: center;
  }

  .product-icon-text img {
    width: 50px;
    height: 50px;
    object-fit: contain;
  }

  .qty-and-price {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 2rem;
    align-items: end;
  }

  .product-mini-features {
    display: flex;
    justify-content: space-between;
  }

  .product-mini-features svg {
    color: var(--accent-3);
    height: 1.7em;
  }

  .product-description h1 {
    font-size: var(--h3);
  }

  .recommendation-product-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 2rem 1rem;
  }

  /* desktop-and-up */
  @media screen and (min-width: 769px) {
    .section-product {
      grid-template-areas:
        'img txt'
        'rec txt';
      grid-template-rows: auto 1fr;
      gap: 4rem;
    }

    .section-product-img { grid-area: img; }
    .section-product-txt { grid-area: txt; }
    .section-product-rec { grid-area: rec; }
  }

  /* mobile */
  @media screen and (max-width: 428px) {
    .recommendation-product-list {
      grid-template-columns: repeat(2, 1fr);
    }
  }
{% endstylesheet %}

{% schema %}
{
  "name": "Product",
  "tag": "article",
  "class": "section-product container padding-lg multi-col",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_dynamic_checkout",
      "label": "Show dynamic checkout buttons",
      "default": false,
      "info": "[More info](https://help.shopify.com/en/manual/online-store/dynamic-checkout?shpxid=504f73d0-655A-4E82-8958-225D920D5247)"
    }
  ],
  "blocks": [
    {
      "type": "icon-and-text",
      "name": "Icon & text",
      "settings": [
        {
          "type": "text",
          "id": "description",
          "label": "Description"
        },
        {
          "type": "image_picker",
          "id": "icon",
          "label": "Icon"
        }
      ]
    }
  ]
}
{% endschema %}
