<div id="product-tabs" class="section-pdp-tabs padding-lg container">
  <div class="pdp-tabs-list desktop-and-up">
    {%- for block in section.blocks -%}
      <label for="pdp-tab-{{ forloop.index }}" class="pdp-tab-item h4">{{ block.settings.tab_label }}</label>
    {%- endfor -%}
  </div>

  {%- for block in section.blocks -%}
    <div class="pdp-tab-group">
      <input name="pdp-tabs" id="pdp-tab-{{ forloop.index }}" type="radio" hidden{% if forloop.first %} checked{% endif %}>
      <label for="pdp-tab-{{ forloop.index }}" class="pdp-tab-item h4 tablet">{{ block.settings.tab_label }}</label>

      {%- case block.type -%}
        {%- when 'dimensions' -%}
          {% render 'product-details-tabs.dimensions' %}

        {%- when 'text' -%}
          <div class="pdp-tab-content padding-x richtext text-center">
            <h3 class="h3 text-accent-2">{{ block.settings.heading }}</h3>
            {%- if block.settings.cta_link -%}
              <p><a href="{{ block.settings.cta_link }}" class="link accent-1">{{ block.settings.cta_label }} ></a></p>
            {%- endif -%}
            {%- if block.settings.image -%}
              <figure>
                <img
                  {% render 'srcset', image: block.settings.image, width: 1000 %}
                  alt="{{ block.settings.image.alt }}" loading="lazy"
                />
              </figure>
            {%- endif -%}
            {{ block.settings.description }}
          </div>

        {%- when 'video' -%}
          {%- if block.settings.description != blank -%}
            <div class="pdp-tab-content padding-x multi-col center">
              <div class="richtext">
                <h3 class="h2 text-accent-2">{{ block.settings.heading }}</h3>
                {{ block.settings.description }}
              </div>

              <figure class="video-wrapper">
                {{ block.settings.video_html }}
              </figure>
            </div>
          {%- else -%}
            <div class="pdp-tab-content padding-x richtext text-center">
              {%- if block.settings.heading != blank -%}
                <h3 class="h2 text-accent-2">{{ block.settings.heading }}</h3>
              {%- endif -%}

              <figure class="video-wrapper">
                {{ block.settings.video_html }}
              </figure>
            </div>
          {%- endif -%}

      {%- endcase -%}
    </div>
  {%- endfor -%}
</div>

{% stylesheet %}
  .pdp-tabs-list {
    display: flex;
    gap: 2rem;
    max-width: -webkit-max-content;
    max-width: max-content;
    margin-inline: auto;
  }

  .pdp-tab-item { cursor: pointer; }
  .pdp-tab-item:hover { color: var(--accent-1); }

  .pdp-tab-item.tablet {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 0.5ch;
    align-items: center;
    padding: 1rem var(--padding-x);
    color: var(--accent-2);
  }

  .pdp-tab-item.tablet::after {
    content: '+';
    color: var(--accent-1);
  }

  .pdp-tab-group:not(:first-of-type) .pdp-tab-item.tablet {
    border-top: 1px solid #fff;
  }

  .pdp-tab-content {
    margin-top: 2rem;
    animation: pdp-tab-content var(--t) forwards;
  }

  @keyframes pdp-tab-content {
    from {
      opacity: 0;
      transform: var(--pdp-tab-content-anim, translateX(-1rem));
    }
  }

  .pdp-tab-content a {
    color: var(--accent-1);
    text-decoration: none;
  }
  .pdp-tab-content a:hover { text-decoration: underline; }

  .pdp-tab-content .video-wrapper {
    min-width: 0;
    max-width: 500px;
  }
  .pdp-tab-content .video-wrapper > div {
    max-width: 100%;
    margin-inline: auto;
  }

  input[name="pdp-tabs"]:not(:checked) ~ .pdp-tab-content { display: none; }

  /* tablet */
  @media screen and (max-width: 768px) {
    .section-pdp-tabs { padding: 0; }

    .pdp-tab-content {
      --pdp-tab-content-anim: translateY(-1rem);
    }
  }
{% endstylesheet %}

{% schema %}
{
  "name": "Product details tabs",
  "tag": "section",
  "class": "bg",
  "blocks": [
    {
      "type": "dimensions",
      "name": "Dimensions",
      "settings": [
        {
          "type": "text",
          "id": "tab_label",
          "label": "Tab label"
        }
      ]
    },
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "text",
          "id": "tab_label",
          "label": "Tab label"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type": "text",
          "id": "cta_label",
          "label": "CTA label",
          "default": "Watch the Cargo Liner Fit Guide"
        },
        {
          "type": "url",
          "id": "cta_link",
          "label": "CTA link"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Description"
        }
      ]
    },
    {
      "type": "video",
      "name": "Video",
      "settings": [
        {
          "type": "text",
          "id": "tab_label",
          "label": "Tab label"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Description"
        },
        {
          "type": "html",
          "id": "video_html",
          "label": "Video HTML",
          "info": "Paste Wistia embed code"
        }
      ]
    }
  ]
}
{% endschema %}
