<h1 class="h1">Search</h1>

{% render 'search-form' %}

{%- if search.performed %}
  <p>{{ search.results_count }} result{% if search.results_count > 1 %}s{% endif %} found for "{{ search.terms }}"</p>
{%- endif -%}

{%- if search.performed -%}
  <ul>
    {%- for result in search.results -%}
      {%- case result.object_type -%}
        {%- else -%}
          <li>
            <a href="{{ result.url }}" class="link accent-2">
              {{ result.title | highlight: search.terms }}
              ({{ result.object_type | capitalize }})
            </a>
          </li>
      {%- endcase -%}
    {%- endfor -%}
  </ul>
{%- endif -%}

{% stylesheet %}
  #shopify-section-search .search-form {
    border: 1px solid var(--border-light);
  }
{% endstylesheet %}

{% schema %}
{
  "name": "Search",
  "tag": "section",
  "class": "container-sm section-padding side-padding richtext",
  "settings": [

  ]
}
{% endschema %}
