<div
  class="section-testimonial{% if section.settings.show_avatar %} show-avatar{% endif %}"
  style="
    --bg-img-desktop: url({{ 'wave-left-right-white-lg.png' | asset_url }});
    --bg-img-mobile: url({{ 'wave-left-right-white.png' | asset_url }});
  "
>
  {%- if section.settings.show_avatar -%}
    <figure class="testimonial-avatar">
      <img
        {% render 'srcset', image: section.settings.avatar, width: 300 %}
        alt="{{ section.settings.avatar.alt | default: section.settings.quote | escape }}"
        loading="lazy"
      />
    </figure>
  {%- endif -%}

  <div class="container padding text-center richtext">
    <div class="text-accent-1">
      {%- for i in (1..section.settings.rating) -%}
        {% render 'icon-star' %}
      {%- endfor -%}
    </div>

    <blockquote class="container-half h3-body text-outline">
      <p>{{ section.settings.quote | newline_to_br }}</p>
    </blockquote>
    <p class="text-outline">— {{ section.settings.author }}</p>

    {%- if section.settings.show_social -%}
      <div class="on-social-txt">
        <h2 class="h3">On Social</h2>
        <p>
          Send us yours
          <a href="{{ settings.social_instagram }}" target="_blank" rel="noopener noreferrer">@4knines</a>
        </p>
      </div>
    {%- endif -%}
  </div>
</div>

{%- if section.settings.show_social and section.settings.social_image != blank -%}
  {%- comment -%} TODO: add live insta feed {%- endcomment -%}
  <figure class="on-social-img hide-scrollbar">
    <img
      {% render 'srcset', image: section.settings.social_image %}
      alt="Instagram @4knines" loading="lazy" draggable="false"
    />
  </figure>
{%- endif -%}

{% stylesheet %}
  .above-testimonial-and-social {
    padding-bottom: 8rem;
  }

  .section-testimonial {
    --text-outline: var(--accent-2);
    position: relative;
    background:
      var(--accent-2)
      var(--bg-img-desktop)
      center/contain no-repeat;
    color: #fff;
  }

  .section-testimonial.show-avatar {
    --avatar-size: calc(200px - 3rem);
    padding-top: calc(var(--avatar-size) / 2);
  }

  .testimonial-avatar {
    position: absolute;
    left: 50%; top: 0;
    transform: translate(-50%, -50%);
    width: var(--avatar-size);
    height: var(--avatar-size);
  }

  .on-social-txt { margin-top: 4rem; }

  .on-social-txt a {
    color: inherit;
    text-decoration: none;
  }

  .on-social-img { overflow-x: auto; }

  .on-social-img img {
    width: auto;
    min-width: 100%;
    max-width: initial;
    min-height: 200px;
  }

  /* mobile */
  @media screen and (max-width: 428px) {
    .section-testimonial {
      position: relative;
      background-image: var(--bg-img-mobile);
      background-position-y: 75%;
      color: #fff;
    }
  }
{% endstylesheet %}

{% schema %}
{
  "name": "Testimonial + Social",
  "tag": "section",
  "settings": [
    { "type": "header", "content": "Testimonial" },
    {
      "type": "range",
      "id": "rating",
      "label": "Rating",
      "unit": "★",
      "min": 1,
      "max": 5,
      "step": 1,
      "default": 5
    },
    {
      "type": "textarea",
      "id": "quote",
      "label": "Quote",
      "default": "Perfectly sized to fit. Love the material;\nseems extremely tough"
    },
    {
      "type": "text",
      "id": "author",
      "label": "Author",
      "default": "Hugh C."
    },
    {
      "type": "checkbox",
      "id": "show_avatar",
      "label": "Show avatar",
      "default": true
    },
    {
      "type": "image_picker",
      "id": "avatar",
      "label": "Avatar"
    },
    { "type": "header", "content": "Social" },
    {
      "type": "checkbox",
      "id": "show_social",
      "label": "Show social",
      "default": false
    },
    {
      "type": "image_picker",
      "id": "social_image",
      "label": "Social image",
      "info": "A wide image is recommended"
    }
  ]
}
{% endschema %}
